/* global definitions */
:root{
    --bgColor:      hsl(0, 0%, 97%);
    --pnColor:      white;
    --accentColor:  hsla(180, 62%, 41%, 0.533);
    --otherColor:   hsla(45, 62%, 41%, 0.533);
    --midGrey:      hsl(0, 0%, 50%);
    --sidebarWidth: 30ch;
    --contentWidth: clamp(45ch, calc(100vw - var(--sidebarWidth)), 75ch);
}
html {
    background-color: var(--bgColor);
    color: #3a3a3a;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body {
    margin: 0px;
}

/* background & content box */
footer {
    padding: 3em 2em 1.5em 2em;
    background-color: #000000;
    color : white;
}
.contentOuter {
    /*background-color: khaki;*/
    margin: auto;   /* center horizontally */
    width: var(--contentWidth);

    box-sizing: border-box;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    min-height: 100vh;
}
.content {
    background-color: var(--pnColor);
    border-radius: 1em;     /* round corners */
    padding: 2rem;
    border: 1px solid lightgray;
}

/* nav bar scheananigans */

nav a {
    font-size: 125%;
}

@media all and (orientation:landscape) {
    nav {
        position: fixed;
        overflow: hidden;
        display: flex;

        width: var(--sidebarWidth);
        height: calc(100vh - 4em);
        margin-top: 2em;
        margin-bottom: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 1em;
        text-align: end;
        box-sizing: border-box;
        border-right: 1px solid black;
    }

    nav a:first-child {
        background-image: url("/img/logo.png");
        background-size: contain;
        width: 10ch;
        aspect-ratio: 1 / 1;
        margin-bottom: 2.5em;
        border-bottom: none;
        margin-top: -1rem;
    }

    nav a {
        margin-top: 1rem;
    }

    nav ~ .contentOuter {
        margin-left: calc(var(--sidebarWidth) + (100vw - var(--sidebarWidth) - var(--contentWidth))/2);
    }
}

@media all and (orientation:portrait) {
    nav {
        overflow: hidden;
        display: flex;
        box-sizing: border-box;

        height: 2em;
        flex-direction: row;
        margin: 0.5em 2em 0.5em 2em;
    }

    nav a:first-child {
        background-image: url("/img/logo.png");
        background-size: contain;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-bottom: none;
        margin-right: auto;
        margin-left: 0px;
    }

    nav a {
        margin-left: 1rem;
    }
}

/* Article */
article p {
    margin-bottom: 0px;
}
article > div {
    display: flex;
    justify-content: flex-end;
}
article i:first-child {
    color: #cccccc;
    display: block;
}
article i:last-child {
    color: #e0e0e0;
}

/* Various touches */
a {
    /*font-family: 'Fira sans', 'Roboto Mono', monospace;*/
    border-bottom: 3px solid var(--accentColor); /* underline */
    color: inherit; /* disable pesky blue link color */
    text-decoration: none; /* disable default underline */
}
a:hover {
    background-color: var(--accentColor);
    color: #fff;
}
time {
    color: var(--midGrey);
    font-family: 'DM Mono', 'Roboto Mono', monospace;
}
::selection {
    background: var(--accentColor);
    color: #ffffff;
}

/* Spicing up generated HTML from MD */

code.highlighter-rouge {
    background: var(--otherColor);
    border-radius: 2px;
}

pre.highlight {
    background: rgb(94, 94, 94);
    color: white;
    padding: 0.5ch;
    overflow-x: auto;
}

/* https://jwarby.github.io/jekyll-pygments-themes/languages/javascript.html
Monokai theme */

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
